<table id="infoProduto" border = 1>
<tr>
    <th>Nome</th>
    <th>Preço</th>
    <th>Imagem</th>
</tr>
<tr>
    <td>{{produto.descricao}}</td>
    <td>R${{produto.preco}}</td>
    <td><img src="{{produto.img}}"></td>
</tr>
</table>