<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Aula Handlebars</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
<header>
    <ul>
        <li> <a href="/">Página Principal</a></li>
        <li><a href="/produtos">Produtos</a></li>
    </ul>
</header>
    
    <hr>
    {{{body}}}
</body>
</html>